<section class="slider">
<div class="flexslider">
  <div class="flex-viewport">
    <ul class="slides">
      <%Slider.all.each do |slide|%>
      <li class="clone" aria-hidden="true" >
        <img src="<%=slide.image.url%>" draggable="false">
        <p class="flex-caption"><a href="/sliders/<%=slide.id%>">ПОДРОБНЕЕ</a></p>
      </li>
      <%end%>
    </ul>
  </div>
</div>
</section>

<section class="products">
    <div class="container">
      <div class="row">
        <% @count = 0; Product.all.each do |product| %>
        <%= @count>=3? (@count=1;'</div><div class="row">'.html_safe) : (@count+=1;'') %>
        <div class="col-sm-4">
          <div class="caption-title">
            <h2><%=product.title%></h2>
          </div>
          <div class="caption-description">
            <h3><%=product.description%> <i class="fa fa-rub" aria-hidden="true"></i>*</h3>
          </div>
          <div class="caption-image">
            <%= image_tag  product.image.url, alt: product.title, class: 'img-responsive'%>
          </div>
          <a href="tel:84742<%=@phone.tr(' ', '')%>" style='color: white'>
          <div class="caption-button">
            <h3>ЗВОНИТЕ</h3>
            <h3>(4742) <%=@phone%></h3>
          </div>
          <
        </div>
        <%end%>
      </div>  
    </div>
    <br><br><br>
    <script type="text/javascript">
      $(document).on('turbolinks:load',function() {
        function func() {
          var heights = $(".caption-title h2").map(function() {
              return $(this).height();
          }).get(),
          maxHeight = Math.max.apply(null, heights);
          $(".caption-title").height(maxHeight);

          var heights = $(".caption-description h3").map(function() {
              return $(this).height();
          }).get(),
          maxHeight = Math.max.apply(null, heights);
          $(".caption-description").height(maxHeight);

          var heights = $(".caption-image img").map(function() {
              return $(this).height();
          }).get(),
          maxHeight = Math.max.apply(null, heights);
          $(".caption-image").height(maxHeight);
        }

        setTimeout(func, 1000);
        window.addEventListener("resize", func);
      });
    </script>
</section>