<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title%> <%= @title.description if @title %></title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- meta from title -->
  <%= @title.slave.html_safe if @title %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section class="header">
  <div class="row">
    <div class="col-lg-8 col-md-6">
      <div class="brand">
      <% if current_page?('/') %>
      <a href="http://lada-prime.ru" target="_blank" style='color: white'>
      <% else %>
      <a href="/" style='color: white'>
      <%end%>
        <%= @headerr.description.html_safe if @headerr %>      
      </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="address">
        <h1><a href="tel:84742<%=@phone.tr(' ', '')%>" style='color: white'><i class="fa fa-phone-square" aria-hidden="true"></i> (4742) <%=@phone%></a></h1>
        <p><%= @headerr.slave.html_safe if @headerr %></p>
      </div>
    </div>
  </div>
</section>
<%= yield %>
<section class="footer">
  <div class="container">
    <div class="row social">
      <div class="col-md-offset-3 col-md-6 col-sm-6">
                  <%= form_for @message, :remote => true, :html => {:class => 'form-horizontal text-center'} do |f| %>
                    <div class="form-group">
                      <label for="exampleInputName2">Обращение</label>
                      <%= f.text_field :name, class: 'form-control', placeholder: "Как к Вам обращаться" %>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail2">E-Mail</label>
                      <%= f.text_field :email, class: 'form-control', placeholder: "Ваш e-mail" %>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail2">Телефон (<i>в свободной форме</i>)</label>
                      <%= f.text_field :phone, class: 'form-control', placeholder: "Ваш номер телефона" %>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputText">Сообщение</label>
                      <%= f.text_area :description, class: 'form-control', placeholder: "Текст Вашего сообщения" %>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputText">* Соглашаюсь на обработку данных, ознакомлен с </label>
                      <a href="/policy/index" style="color: white"> политикой конфиденциальности </a>
                      <%= f.check_box :policy %>
                    </div>

                    <%= button_to "Отправить", @article, remote: true %>
  
                  <%end%>
      </div>
      <div class="col-md-12">
        <h2>ищите <strong>нас</strong></h2>
        <ul>
          <% @social.description.each_line do |social| %>
          <% fa,url = social.split ';' %>
          <li>
            <a class="fa-stack fa-lg" href="<%=url%>" target="blank"> 
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-<%=fa%> fa-stack-1x fa-inverse"></i>
            </a>
          </li>
          <%end%>
        </ul>
      </div>
      <%=@code.description.html_safe%>
    </div>
  </div>
</section>
</body>
</html>
